;Examples files
; We keep the waypointer there just to ensure that a new robot can work with some pre-exisitng stack
; However we may refactor it out eventually..

[submodule "src/arcpro_rl_sim/arc_rl_interface"]
    path = src/examples/arc_rl_interface
    url = git@github.com:airou-lab/arc_rl_interface.git


;Base files

[submodule "src/base/YDLidar-SDK"]
	path = src/base/YDLidar-SDK
	url = git@github.com:airou-lab/ydLidar.git

[submodule "src/base/f1tenth_to_arcpro"]
	path = src/base/f1tenth_to_arcpro
	url = git@github.com:airou-lab/f1tenth_to_arcpro.git

