[submodule "src/arcpro_rl_sim/arc_rl_interface"]
    path = src/examples/arc_rl_interface
    url = git@github.com:airou-lab/arc_rl_interface.git

[submodule "src/f1tenth_system"]
    path = src/base/f1tenth_system
    url = git@github.com:airou-lab/arcpro_system.git

[submodule "src/base/YDLidar-SDK"]
	path = src/base/YDLidar-SDK
	url = git@github.com:airou-lab/ydLidar.git

[submodule "src/base/f1tenth_to_arcpro"]
	path = src/base/f1tenth_to_arcpro
	url = git@github.com:airou-lab/arcpro_system.git
